<h1>Listing Cards</h1>

<table>
  <thead>
    <tr>
      <th>Rank</th>
      <th>Suit</th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.cardrank %></td>
        <td><%= card.cardsuit %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New Card", :controller => "decks", :action => "new" %>

